# References:
# - https://github.com/vapor/vapor/blob/main/.gitignore

# Exclude macOS folder attributes
.DS_Store

# Xcode
*.xcodeproj
DerivedData/

# Swift Package Manager
Packages
Package.resolved
.build
.swiftpm

# Visual Studio Code Preferences
.vscode

# dotenv files should not be checked into the codebase by default.
.env
.env.*